/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    text-align: center;
}

body {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #b7b7b7;
    background: #39404b url("../img/background.png") repeat;
}

.header-container {
    max-width: 1220px;
    margin: 0 auto;
}

.header-left {
    padding-top: 25px;
    padding-left: 40px;
    float: left;
}

.header-right {
    padding-top: 15px;
    padding-right: 40px;
    float: right;
}

@media (max-width: 500px) {
    .header-right {
        float: left;
        padding-left: 40px;
    }
}

header i {
    color: #00aeef;
}