body {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #39404b url("../img/background.png") repeat;
}

header img {
    padding-top: 50px;
    padding-bottom: 45px;
    display: block;
    margin: 0 auto;
}

.banner {
    margin: 0 auto;
    max-width: 960px;
    height: 330px;
    background-color: #39404b;
    -webkit-box-shadow: 0 10px 5px -5px #333;
       -moz-box-shadow: 0 10px 5px -5px #333;
            box-shadow: 0 15px 15px -5px #333;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.login {
    margin: 0 auto;
}